[submodule "frontend"]
	path = frontend
	url = ./frontend
[submodule "services"]
	path = services
	url = ./services
[submodule "postgres-database"]
	path = postgres-database
	url = ./postgres-database
